<div class="my-5">
  <div class="mt-3 text-3xl text-center">
    <div class="inline-flex items-center gap-2 mb-3">
      <p class="font-medium">CONTACT</p>
      <p class="w-8 sm:w-12 h-[1px] sm:h-[2px] bg-gray-700"></p>
    </div>
  </div>
</div>

<div class="flex flex-col items-start gap-12 my-10 md:flex-row"><img class="rounded-lg w-full md:max-w-[450px]" alt=""
    src="https://cdn.prod.website-files.com/637dd8d62ccaf602c8ad331c/642af2c5635cbd3df4920e62_furniture%20(2).webp">
  <div class="flex flex-col justify-center gap-6 leading-6 text-gray-600 md:w-2/4">
    <p class="text-xl font-semibold text-gray-600">Our Store</p>
    <p class="text-gray-500">Khanh Hoa <br> Vietnam</p>
    <p class="text-gray-500">Tel: +12-345-678-900 <br> Email: tiendatmagic8@gmail.com</p>
  </div>
</div>