<div
  class="rounded-lg w-full overflow-auto border-[#ececec] dark:border-[#46525f] border-[1px] glass-effect not-bg-glass shadow-md relative max-w-screen-4xl p-3">
  <div class="pt-3 lg:px-3">
    <div class="mb-3 text-2xl">
      <div class="flex justify-between">
        <div class="inline-flex items-center gap-2 mb-3">
          <p class="font-medium">My Order</p>
          <p class="w-8 sm:w-12 h-[1px] sm:h-[2px] bg-gray-700"></p>
        </div>
      </div>
    </div>

    <ng-container *ngIf="!orderData && !isLoading">
      <div class="min-h-40">
        <p class="text-xl font-medium text-center">My order is empty</p>
      </div>
    </ng-container>

    <ng-container *ngIf="!orderData && isLoading">
      <div class="min-h-40">
        <p class="text-xl font-medium text-center">
          Please wait...
        </p>
      </div>
    </ng-container>

    <ng-container *ngIf="orderData">

      <ng-container *ngFor="let order of orderData">
        <div
          class="flex flex-col items-start justify-between w-full gap-1 py-4 border-b sm:gap-3 lg:gap-5 md:items-center md:flex-row">
          <div class="md:w-2/6">
            <a class="text-base font-medium break-all hover:underline text-violet-700"
              routerLink="/order-detail/{{ order.id }}">{{ order.id
              }}</a>

            <div>
              <div>Total: ${{ order.total + deliveryFee}}</div>
              <div>Date: {{ order.created_at | date: "dd/MM/yyyy HH:mm:ss" }}</div>
            </div>
          </div>

          <div class="md:w-2/6">
            <p class="font-medium" *ngFor="let item of order.items">
              <span class="text-gray-500">Name: </span><a routerLink="/product/{{ item.id }}" class="hover:underline">
                {{ item.name }}</a>
            </p>
          </div>

          <div class="md:w-1/6">
            <div class="flex items-center gap-3">
              <div class="w-3 h-3 rounded-full min-w-3"
                [ngClass]="order.status =='canceled' ? 'bg-gray-500' : order.status == 'pending' ? 'bg-orange-500' : order.status == 'completed' ? 'bg-green-500' : ''">
              </div>
              <span class="capitalize">{{ order.payment == 'usdt' ? 'USDT - Crypto' : order.payment }}</span>
            </div>
          </div>

          <div class="flex justify-end md:w-1/6">
            <button class="mt-3 btn-primary whitespace-nowrap" routerLink="/order-detail/{{ order.id }}" matRipple
              matRippleColor="#ffffff80" (click)="viewOrder()">View Order
            </button>
          </div>
        </div>
      </ng-container>

    </ng-container>
  </div>
</div>