<nav class="w-full mx-auto bg-white border-gray-200 sm:pt-4 sm:px-6 md:px-8 max-w-[1530px]">

  <div>
    <div class="flex flex-col sm:grid grid-cols-[3fr_1fr_1fr] gap-14 my-5 text-sm">
      <div>
        <img class="mb-5 w-28" src="/assets/images/logo.png">
        <p class="w-full text-gray-600 md:w-2/3">
          Experience comfort and strength in every piece, crafted for today's lifestyle. At Dat Shop, quality is woven
          into every detail.
        </p>
      </div>
      <div>
        <p class="mb-5 text-xl font-medium">Menu</p>
        <ul class="flex flex-col gap-1 text-gray-600">
          <li>
            <a routerLink="/home">Home</a>
          </li>
          <li>
            <a routerLink="/collection">Collection</a>
          </li>
          <li>
            <a routerLink="/about">About</a>
          </li>
          <li>
            <a routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
      <div>
        <p class="mb-5 text-xl font-medium">CONTACT</p>
        <ul class="flex flex-col gap-1 text-gray-600">
          <li>+12-345-678-900</li>
          <li>
            <a href="mailto:tiendatmagic8@gmail.com">
              tiendatmagic8@gmail.com
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <hr>
      <p class="py-3 text-sm text-center"> Copyright 2025 Dat Shop - All Rights Reserved</p>
    </div>
  </div>

</nav>