<div class="flex flex-col gap-3 md:flex-row sm:gap-5 md:gap-10">
  <div class="w-full md:w-1/5">
    <div>
      <div class="my-5">
        <div class="mt-3 text-3xl text-left">
          <div class="inline-flex items-center gap-2 mb-3">
            <p class="font-medium">FILTERS</p>
          </div>
        </div>
      </div>

      <div class="flex flex-row gap-3 md:flex-col">
        <div class="w-1/2 py-3 pl-5 border border-gray-300 rounded-lg md:w-full sm:block">
          <p class="mb-3 text-sm font-medium">CATEGORIES</p>
          <div class="flex flex-col gap-2 text-sm">
            <p>
              <label for="Men" class="flex items-center gap-3">
                <input type="checkbox" class="border border-gray-400 text-violet-700" id="Men" name="Men" value="Men"
                  (change)="getProductsByCategory('men', $event)">
                <span>Men</span>
              </label>
            </p>
            <p>
              <label for="Women" class="flex items-center gap-3">
                <input type="checkbox" class="border border-gray-400 text-violet-700" id="Women" name="Women"
                  value="Women" (change)="getProductsByCategory('women', $event)">
                <span>Women</span>
              </label>
            </p>
            <p>
              <label for="Kids" class="flex items-center gap-3">
                <input type="checkbox" class="border border-gray-400 text-violet-700" id="Kids" name="Kids" value="Kids"
                  (change)="getProductsByCategory('kids', $event)">
                <span>Kids</span>
              </label>
            </p>
          </div>
        </div>
        <div class="w-1/2 py-3 pl-5 border border-gray-300 rounded-lg md:w-full sm:block">
          <p class="mb-3 text-sm font-medium">PRICE</p>
          <div class="flex flex-col gap-2 text-sm">
            <p>
              <label for="all" class="flex items-center gap-3">
                <input type="radio" class="border border-gray-400 text-violet-700" id="all" name="price" value="0"
                  (change)="onPriceChange(0)" checked>
                <span>All</span>
              </label>
            </p>
            <p>
              <label for="p-50" class="flex items-center gap-3">
                <input type="radio" class="border border-gray-400 text-violet-700" id="p-50" name="price" value="50"
                  (change)="onPriceChange(50)">
                <span>>= $50</span>
              </label>
            </p>
            <p>
              <label for="p-100" class="flex items-center gap-3">
                <input type="radio" class="border border-gray-400 text-violet-700" id="p-100" name="price" value="100"
                  (change)="onPriceChange(100)">
                <span>>= $100</span>
              </label>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="w-full md:w-4/5">
    <section id="latest-collection">
      <div class="my-5">
        <div class="flex flex-col items-center justify-between sm:flex-row">
          <div class="mt-3 text-3xl text-left">
            <div class="inline-flex items-center gap-2 mb-3">
              <p class="font-medium">ALL COLLECTION</p>
              <p class="w-8 sm:w-12 h-[1px] sm:h-[2px] bg-gray-700"></p>
            </div>
          </div>

          <div>
            <form class="max-w-sm mx-auto">
              <select id="sort"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                (change)="onSortChange($event)">
                <option value="relevant">Sort by: Relevant</option>
                <option value="low-high">Sort by: Low to High</option>
                <option value="high-low">Sort by: High to Low</option>
              </select>
            </form>
          </div>

        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mt-3 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-4 gap-y-6">
        <ng-container *ngFor="let product of productList">
          <a class="overflow-auto rounded-lg cursor-pointer" routerLink="/product/{{ product.id }}">
            <div class="overflow-hidden">
              <img class="transition duration-300 ease-in-out hover:scale-110" alt="" src="{{ product.image[0] }}" />
            </div>
            <p class="pt-3 pb-1 text-sm">{{ product.name }}</p>
            <p class="text-sm font-medium">${{ product.price }}</p>
          </a>
        </ng-container>
      </div>
    </section>
  </div>
</div>