<div>
  <div class="border-t pt-14">
    <div class="mb-3 text-2xl">
      <div class="flex justify-between">
        <div class="inline-flex items-center gap-2 mb-3">
          <p class="font-medium">Your Cart</p>
          <p class="w-8 sm:w-12 h-[1px] sm:h-[2px] bg-gray-700"></p>
        </div>
        <div>
          <button class="mt-3 btn-outline-primary" matRipple (click)="clearCart()" *ngIf="cartProducts.length">
            DELETE ALL
          </button>
        </div>
      </div>
    </div>

    <ng-container *ngIf="!cartProducts.length">
      <div class="min-h-40">
        <p class="text-xl font-medium text-center">Your cart is empty</p>
      </div>
    </ng-container>

    <ng-container *ngIf="cartProducts.length">
      <div class="flex flex-col gap-6 lg:flex-row">
        <div class="w-full lg:w-1/2">
          <ng-container *ngFor="let product of cartProducts">
            <div class="grid items-center grid-cols-1 gap-4 py-4 text-gray-700 border-b sm:grid-cols-[3fr_1fr]"
              id="{{ product.id}}">
              <div class="flex items-start gap-6">
                <img class="w-16 rounded-md sm:w-20" alt="" src="{{ product.image}}">
                <div>
                  <a routerLink="/product/{{ product.id}}" class="text-base font-medium sm:text-lg hover:underline">
                    {{ product.name}}
                  </a>
                  <div class="flex flex-col items-start justify-center gap-3 mt-2">
                    <p>${{ product.price}}</p>
                    <p class="px-2 border sm:px-3 sm:py-1 bg-slate-50">
                      {{ product.size}}
                    </p>
                  </div>
                </div>
              </div>

              <div class="flex items-center justify-center gap-3 sm:justify-end">
                <form class="inline-flex">
                  <div class="relative flex items-center">
                    <button type="button" id="decrement-button" (click)="decrement(product)"
                      class="p-3 bg-gray-100 border border-gray-200 hover:bg-gray-200 rounded-s-lg h-11 focus:outline-none">
                      <svg class="w-3 h-3 text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 18 2">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M1 1h16" />
                      </svg>
                    </button>
                    <input type="number" min="1" [(ngModel)]="product.quantity"
                      (ngModelChange)="onQuantityChange(product)" name="quantity-{{ product.id }}"
                      class="w-11 h-11 text-center text-gray-900 text-sm block p-2.5 bg-[#fafafa] focus:ring-0 placeholder:text-gray-500  border-[1px] border-[#ececec] outline-none focus:border-violet-700" />

                    <button type="button" id="increment-button" (click)="increment(product)"
                      class="p-3 bg-gray-100 border border-gray-200 hover:bg-gray-200 rounded-e-lg h-11 focus:outline-none">
                      <svg class="w-3 h-3 text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 1v16M1 9h16" />
                      </svg>
                    </button>
                  </div>
                </form>
                <div class="flex items-center justify-center rounded-full cursor-pointer w-11 h-11 hover:bg-gray-100"
                  (click)="removeProduct(product)">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                  </svg>

                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="w-full lg:w-1/2">
          <div class="w-full">
            <div class="text-2xl">
              <div class="inline-flex items-center gap-2 mb-3">
                <p class="font-medium">Total</p>
              </div>
            </div>
            <div class="flex flex-col gap-2 mt-2 text-sm">
              <div class="flex justify-between">
                <p>Subtotal</p>
                <p>${{subtotal}}</p>
              </div>
              <hr>
              <div class="flex justify-between">
                <p>Delivery Fee</p>
                <p>${{ deliveryFee}}</p>
              </div>
              <hr>
              <div class="flex justify-between">
                <b>Total</b>
                <b>${{ total }}</b>
              </div>
            </div>
          </div>
          <div class="w-full text-end">
            <button class="mt-3 btn-primary" matRipple matRippleColor="#ffffff66" (click)="checkout()">CHECKOUT</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>