<section>
  <div class="overflow-auto border border-gray-300 rounded-2xl">
    <div class="flex flex-col md:flex-row">
      <div class="w-full">
        <div class="flex flex-col items-center justify-center h-full py-5">
          <h2 class="text-4xl font-medium">Welcome to Dat Shop</h2>
          <button class="mt-3 btn-primary" matRipple matRippleColor="#ffffff66">SHOP NOW</button>
        </div>
      </div>

      <div class="w-full">
        <img src="/assets/images/datshop-banner.jpg" alt="" class="w-full h-full aspect-video" />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="my-5">
    <div class="mt-3 text-3xl text-center">
      <div class="inline-flex items-center gap-2 mb-3">
        <p class="font-medium">LATEST COLLECTION</p>
        <p class="w-8 sm:w-12 h-[1px] sm:h-[2px] bg-gray-700"></p>
      </div>
      <p class="w-3/4 m-auto text-xs text-gray-700 sm:text-sm md:text-base">
        Check Out Our Latest Summer Collection, Your Style Refresh Starts Here.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 mt-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-y-6">
    <ng-container *ngFor="let product of productList">
      <a class="text-gray-700 cursor-pointer" routerLink="/product/{{ product.id }}">
        <div class="overflow-hidden">
          <img class="transition duration-300 ease-in-out hover:scale-110" alt="" src="{{ product.image[0] }}" />
        </div>
        <p class="pt-3 pb-1 text-sm">{{ product.name }}</p>
        <p class="text-sm font-medium">${{ product.price }}</p>
      </a>
    </ng-container>
  </div>
</section>

<section>
  <div class="my-5">
    <div class="mt-3 text-3xl text-center">
      <div class="inline-flex items-center gap-2 mb-3">
        <p class="font-medium">BEST SELLERS</p>
        <p class="w-8 sm:w-12 h-[1px] sm:h-[2px] bg-gray-700"></p>
      </div>
      <p class="w-3/4 m-auto text-xs text-gray-700 sm:text-sm md:text-base">
        Effortless Style Starts With These Most-wanted Pieces.Tried, True, and Top-rated.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 mt-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-y-6">
    <ng-container *ngFor="let product of bestSellerProducts;">
      <a class="text-gray-700 cursor-pointer" routerLink="/product/{{ product.id }}">
        <div class="overflow-hidden">
          <img class="transition duration-300 ease-in-out hover:scale-110" alt="" src="{{ product.image[0] }}" />
        </div>
        <p class="pt-3 pb-1 text-sm">{{ product.name }}</p>
        <p class="text-sm font-medium">${{ product.price }}</p>
      </a>
    </ng-container>
  </div>
</section>