<div class="overflow-auto border border-gray-300 rounded-2xl">
  <div class="flex flex-col md:flex-row">
    <div class="w-full">
      <div class="flex flex-col items-center justify-center h-full py-5">
        <h2 class="text-3xl font-medium">
          Welcome to Dat Shop
        </h2>
        <button class="mt-3 btn-primary" matRipple>SHOP NOW</button>
      </div>
    </div>

    <div class="w-full">
      <img src="/assets/images/datshop-banner.jpg" alt="" class="w-full h-full bg-red-500 aspect-video">
    </div>
  </div>
</div>